* {
  padding: 0 px;
  margin: 0 px;
  font-family: cursive;
  box-sizing: border-box;
}

body {
  background-image: url('./fontpicture.jpg');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  /* background-color: rgb(248, 246, 246, 0.32);
  display: flex;
  flex-direction: row;
  padding: 1%;
  flex-basis: 90%;
  height: 90vh;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  border-radius: 0.8rem; */
}

form {
  align-content: center;
  width: 100vw;
}

.myheader {
  background-color: rgb(91, 71, 146);
}

nav {
  margin-top: 2%;
}

.topnav a {
  background-color: rgb(248, 246, 246, 0.32);
  color: white;
  height: 10%;
  font-size: larger;
  border-radius: 1.3rem;
  text-decoration: none;
  padding: 1%;
}

.topnav a:hover {
  background-color: white;
  color: rgb(87, 76, 78);
}

#separator {
  /* margin: 2%; */
  padding: 2%;
  text-align: center;
}
/* 
[class*='mini-container'] {
  margin: 3%;
}

.mini-container {
  box-sizing: border-box;
  float: left;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.mini-container-2 {
  box-sizing: border-box;
  display: flex;
  float: left;
  flex-direction: column;
  flex-basis: 30%;
}

.mini-container-3 {
  box-sizing: border-box;
  float: left;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
} */

label {
  /* color: rgb(87, 76, 78); */
  color: white;
  margin-bottom: 2%;
}
input.textInput {
  width: 20vw;
  max-width: 25vw;
  max-height: 24px;
  min-width: 150px;
  border-radius: 0.5rem;
  border-style: none;
}

.btn {
  background-color: #04aa6d;
  height: 7vh;
  border-radius: 1rem;
  margin: 8% auto;
  color: white;
  display: block;
  width: 20vw;
  font-weight: bold;
}
